In [1]:
import numpy as np
import pandas as pd

In [2]:
table = pd.DataFrame(index=["Bowl 1", "Bowl 2"])

In [3]:
table["prior"] = 1/2, 1/2

In [4]:
table

        prior
Bowl 1    0.5
Bowl 2    0.5

In [5]:
table["likelihood"] = 3/4, 1/2

In [6]:
table

        prior  likelihood
Bowl 1    0.5        0.75
Bowl 2    0.5        0.50

In [7]:
table["unnorm"] = table["prior"] * table["likelihood"] # This is an unnormalized posterior P(H) * P(D|H)

In [8]:
table

        prior  likelihood  unnorm
Bowl 1    0.5        0.75   0.375
Bowl 2    0.5        0.50   0.250

In [9]:
prob_data = table["unnorm"].sum()

In [10]:
prob_data

np.float64(0.625)

In [11]:
table["posterior"] = table["unnorm"] / prob_data

In [12]:
table

        prior  likelihood  unnorm  posterior
Bowl 1    0.5        0.75   0.375        0.6
Bowl 2    0.5        0.50   0.250        0.4

In [13]:
table2 = pd.DataFrame(index=[6, 8, 12])

In [14]:
from fractions import Fraction

In [15]:
table2["prior"] = Fraction(1, 3)

In [16]:
table2["likelihood"] = Fraction(1, 6), Fraction(1, 8), Fraction(1, 12)

In [17]:
table2

   prior likelihood
6    1/3        1/6
8    1/3        1/8
12   1/3       1/12

In [18]:
def update(table):
    """Compute posterior probabilities"""
    table["unnorm"] = table["prior"] * table["likelihood"]
    prob_data = table["unnorm"].sum()
    table["posterior"] = table["unnorm"] / prob_data
    return prob_data

prob_data = update(table2)

In [19]:
table2

   prior likelihood unnorm posterior
6    1/3        1/6   1/18       4/9
8    1/3        1/8   1/24       1/3
12   1/3       1/12   1/36       2/9

In [20]:
# Monty Hall!

table3 = pd.DataFrame(index=["Door 1", "Door 2", "Door 3"])
table3["prior"] = Fraction(1, 3)
table3

       prior
Door 1   1/3
Door 2   1/3
Door 3   1/3

In [21]:
table3["likelihood"] = Fraction(1, 2), 1, 0
table3

       prior likelihood
Door 1   1/3        1/2
Door 2   1/3          1
Door 3   1/3          0

In [22]:
update(table3)

Fraction(1, 2)

In [23]:
table3

       prior likelihood unnorm posterior
Door 1   1/3        1/2    1/6       1/3
Door 2   1/3          1    1/3       2/3
Door 3   1/3          0      0         0

In [24]:
# Exercise 2-1

coin_table = pd.DataFrame(index=["Normal Coin", "Trick Coin"])

coin_table["prior"] = Fraction(1, 2)
coin_table["likelihood"] = Fraction(1, 2), 1

coin_table

            prior likelihood
Normal Coin   1/2        1/2
Trick Coin    1/2          1

In [25]:
update(coin_table)

Fraction(3, 4)

In [26]:
coin_table

            prior likelihood unnorm posterior
Normal Coin   1/2        1/2    1/4       1/3
Trick Coin    1/2          1    1/2       2/3

In [27]:
# Exercise 2-2

kid_table = pd.DataFrame(index=["Girl, Girl", "Girl, Boy", "Boy, Girl", "Boy, Boy"])

kid_table["prior"] = Fraction(1, 4), Fraction(1, 4), Fraction(1, 4), Fraction(1, 4)
kid_table["likelihood"] = Fraction(1, 3), Fraction(1, 3), Fraction(1, 3), 0

kid_table

           prior likelihood
Girl, Girl   1/4        1/3
Girl, Boy    1/4        1/3
Boy, Girl    1/4        1/3
Boy, Boy     1/4          0

In [28]:
update(kid_table)

Fraction(1, 4)

In [29]:
kid_table

           prior likelihood unnorm posterior
Girl, Girl   1/4        1/3   1/12       1/3
Girl, Boy    1/4        1/3   1/12       1/3
Boy, Girl    1/4        1/3   1/12       1/3
Boy, Boy     1/4          0      0         0

In [30]:
# Exercise 2-3

# Modified Monty Hall version 1

monty1 = pd.DataFrame(index=["Door 1", "Door 2", "Door 3"])

monty1["prior"] = Fraction(1, 3)
# Likelihood reasoning:
# If the car is behind 1, Monty will just choose 2.
# If the car is behind 2, Monty will choose 3.
# If the car is behind 3, Monty will choose 2.
monty1["likelihood"] = 1, 0, 1
monty1

       prior  likelihood
Door 1   1/3           1
Door 2   1/3           0
Door 3   1/3           1

In [31]:
update(monty1)

Fraction(2, 3)

In [32]:
monty1

       prior  likelihood unnorm posterior
Door 1   1/3           1    1/3       1/2
Door 2   1/3           0      0         0
Door 3   1/3           1    1/3       1/2

In [33]:
# Modified Monty Hall version 2

monty2 = pd.DataFrame(index=["Door 1", "Door 2", "Door 3"])
monty2["prior"] = Fraction(1, 3)
monty2["likelihood"] = 0, 1, 0

update(monty2)

Fraction(1, 3)

In [34]:
monty2

       prior  likelihood unnorm posterior
Door 1   1/3           0      0         0
Door 2   1/3           1    1/3         1
Door 3   1/3           0      0         0

In [36]:
# Exercise 2-4

# Probability of 1994 bag given yellow M&M

candy = pd.DataFrame(index=["1994 bag", "1996 bag"])
candy["prior"] = Fraction(1, 2)

# Likelihood is the probability of a yellow M&M from each bag
candy["likelihood"] = 0.2, 0.14

candy

         prior  likelihood
1994 bag   1/2        0.20
1996 bag   1/2        0.14

In [37]:
update(candy)

0.17

In [38]:
candy

         prior  likelihood unnorm posterior
1994 bag   1/2        0.20    0.1  0.588235
1996 bag   1/2        0.14   0.07  0.411765